/* This is a CSS comment.*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-flex-wrap: wrap; 
	box-sizing: border-box;
	/* outline: 1px solid red !important */
	
}

body {
	background-color: white;
	font-family: sans-serif;
	padding-left: 30px;
	max-width: 80%;
	display: -webkit-flex; /* Safari */
    display: flex;   
    flex-wrap: wrap;
}

.pageTitle {
	background-color: rgb(255, 203, 0);
	font-weight: bolder;
	font-size: larger;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	border-radius: 15px;
	margin-top: 15px;
	min-width: 100%;
}

.subtitle {
	font-style: italic;
	font-size: 12px;
	padding-top: 5px;
	max-width: 50%;
	
}

.header {
	background-color: rgb(255, 203, 0);
	font-weight: bold;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-radius: 15px;
	margin-bottom: 10px;
	margin-top: 30px;
	min-width: 75%;
}

.subheader {
	background-color: rgb(170, 190, 250);
	font-weight: bold;
	font-size: 16px;
	padding-top: 8px;
	padding-left: 20px;
	padding-bottom: 8px;
	margin-top: 25px;
	margin-bottom: 8px;
}

.text {
	font-weight: normal;
	font-size: 14px;
	background-color: rgb(170, 190, 250);
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 5px;
	padding-bottom: 5px ;
	margin-bottom: 8px;
}
.codeExample {
	font-family: Monospace;
	font-weight: normal;
	font-size: 14px;
	list-style-type: none;
	margin: 0px;
}

.highlighted {
	font-weight: bold;
}

/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
